<main class="container login-container">
    <div class="left-side">
        <img class="left-img" src="/assets/PastedImage.png" alt="imagem de hamburguer" >
    </div>
    <section>
        <img class="login-logo" src="/assets/logo.png" alt="logo-chico">
        <h1> Insira seus dados de Login </h1>
        <button class="btn-signin"> Entrar </button>
        <div>
            <span> ou </span>
        </div>
        <button class="btn-signp"> Se cadastre! </button>
    </section>
    <div class="right-side">
        <img class="right-img" src="/assets/rightImg.png" alt="imagem de hamburguer" >
    </div>
</main>
